@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$bgColor: #f0f0ed;
$color: black;
$fontsize: 400px;
$fontfamily: 'Poppins',sans-serif;
$bg-color-accordion:#ffffff;
$bg-shadow-accordion:0px 4px 4px rgba(255, 255, 255, 0.25);
$navbar-bg:#000000;
 